@import url(./system.css);
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    user-select: none;
}
html{
    font-size:16px;
}   
.root{
    max-width: 1960px;
    min-width: 300px;
}
/* TOP HEADER */
.topheader{
    height:2.375rem;
    background-color: var(--accent-color);
    padding: 0 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.topheader > p{
    color: var(--primary-color);
}
.topheader > p > a{
    color:var(--primary-color);
}
.topheader > span{  
    position: absolute;
    right:6.25rem;
    color: white;
}
/* HEADER */
.header{
    padding: 1.5rem 6.25rem;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 3.125rem;
    position: relative;
    background-color: white;
}
.header__logo{
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    font-size: 2rem;
}
#header__search{
    display: none;
}
.header_right{
    display: flex;
    justify-content: center;
    gap:0.991rem;
}
#header__menu{
    display: none;
}
.header__list{
    display: flex;
    width: 24rem;
    justify-content: space-between;
    list-style: none;
}
.header__list > li{
    min-width: max-content;
    font-size:1.188rem;
}
.header__list > li > a{
    text-decoration: none;
    color: black;
}
.header > form{
    display: flex;
    align-items: center;
    gap:0.75em;
    padding: 0 1.063rem;
    background-color: #F0F0F0;
    flex-grow: 1;
    height: 3em;
    border-radius: 62px;
}
.header > form > input{
    width:80%;
    height:100%;
    outline: none;
    border: none;
    background-color: inherit;
}
.header > form > input::placeholder{
    font-size: 1rem;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
}
.header > form > input[type="text"]{
    font-size: 1.188rem;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    color:#00000066;
}

/* HEROSECTION */
.herosection{
    width: 100%;
    height: max-content;
    justify-content: center;
    background-color: var(--secondary-color);
    position: relative;
    align-items: center;
    padding:0 6.26rem;  
    display: flex;
}
.herosection__leftStar{
    position: absolute;
    top: 18.5rem;
    right: 45%;
}
.herosection__rightStar{
    position: absolute;
    top:5.35rem;
    right:6.25rem;
}
.herosection__info{
    width: 50%;
}
.herosection__info > h1{
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
    max-width: 600px;
}
.herosection__info > p{   
    font-size: 1.188rem;
    color: var(--secondary-font);
    max-width: 36.875em;
    margin-top:1.875rem;
    margin-bottom: 3.125rem;
}
.herosection__info > button{
    width: 13.125rem;
    height:3.25rem;
    margin-bottom: 50px;
    background-color: var(--accent-color);
    border-radius: 62px;
    color:var(--primary-color);
    font-weight: 400;
}
.herosection__description{
    display: flex;
    gap:2em;
}
.herosection__description--2000{
    width:max-content;
    padding:0 2em;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    border-left: 2px solid rgba(0, 0, 0, 0.1);
}
.herosection__description > div > h1{
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-size: 2.5rem;    
}
.herosection__description > div > p{
    font-family: 'Be Vietnam Pro';
    font-weight: 400;
    font-size: 1rem;
    color: var(--secondary-font);
}
.herosection__image{
    object-fit:contain;
    width: 50%;
    height: 100%;
}

/* BRAND */
.brand{
    background-color: var(--accent-color);
    height: max-content;
    padding:2.813rem 12.063rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
}
.brand > div{
    display: flex;
    justify-content: center;
    gap: 3.75rem;
}

.newFashion{
    padding: 3.875rem 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.newFashion > h1{
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-size: 48px;
}
.newFashion__items{
    margin-top:3.375rem;
    width: 100%;
    height: max-content;
    margin-bottom:2.5rem;
    display: flex;
    justify-content: center;
    gap:1.75rem;
}
.newFashion > button{
    width: 218px;
    height: 52px;
    background-color: var(--primary-color);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 62px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.newFashion__items--upper,
.newFashion__items--lower{
    display: flex;
    gap:1.875rem;
}
.newFashion__items--element{
    flex-grow: 1;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}
.newFashion__items--element > img{  
    object-fit: contain;
}
.newFashion__items--element > h3{
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-size: 18px;
}
.newFashion__items--element--star{
    display: flex;
    gap:0.938rem;
    font-family: 'Be Vietnam Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
    margin: 10px 0;
}
.itemName{
    margin-top:20px;
}
.discount{
    color: var(--secondary-font);
    font-size:14px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.newFashion__items--element--cost{
    display: flex;
    align-items: center;
    gap:0.625rem;
}
.newFashion__items--element--cost > div{
    width: 58px;
    height: 27px;
    background-color: #FF33331A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 62px;
    color: #FF3333;
}
.newFashion__items--element--cost > h3{
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-size: 18px;
}
/* discount items */
.discount_items{
    padding: 3.875rem 6.25rem 6.25rem 4.75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discount_items > h1{
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-size: 48px;
}
.discount_items >button{
    width:218px;
    height:52px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 62px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

/* Hightlight category */
.highlight_category{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 6.25rem;
    padding: 4.375rem 4rem 4.375rem 4rem;
    background-color: var(--secondary-color);
    border-radius: 40px;
}
.highlight_category > div{
    gap:1.25rem;
    display: flex;
    width: 100%;
}
.highlight_category--upper > img:nth-child(1),
.highlight_category--lower > img:nth-child(2){
    flex-grow: 1;
}
.highlight_category--upper > img:nth-child(2),
.highlight_category--lower > img:nth-child(1){
    flex-grow: 2;
}
.highlight_category--upper,
.highlight_category--lower{
    margin-bottom: 1.25rem;
}
.highlight_category > h1{
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 3.75rem;
}

/* client feedback */
.client_feedback{
    padding: 5.313rem 6.25rem;
}
.client_feedback > h1{
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 2.5rem;
}
.client_feedback--list{
    display: flex;
    justify-content:space-between;
    gap:1.25rem;
}
.client_feedback--list > div{
    height: 240px;
    border: 2px solid #0000001A;
    padding:28px 32px;
    border-radius: 20px;
    flex-shrink: 1;
}
.client_feedback--list > div > h3{
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-size: 1.563rem;
    gap:4px;    
    display: flex;
    align-items: center;
    margin:10px 0;
}
.client_feedback--list > div > p{
    color: var(--secondary-font);
    font-size: 1.313rem;
}

/* footer */
.footer{
    position: relative;
    background-color: var(--secondary-color);
    margin-top:170px;
}

/* update */
.update{
    display: flex;
    margin: 0 6.25rem;
    background-color: var(--accent-color);
    padding: 2.25em 4em;
    justify-content: center;
    gap:13.25em;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    top: -91px;
}
.update > h1{
    color: white;
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-size: 2.5rem;
}
.updateForm{
    display: flex;
    flex-direction: column;
    gap:14px;
    justify-content: center;
}
.updateForm > div{
    background: white;
    display: flex;
    align-items: center;
    gap:12px;
    padding: 0 16px;
    border-radius: 62px;
}
.updateForm > div >  input{
    width: 349px;
    height:48px;
    border:none;
    outline: none;
    border-radius: 62px;;
}
.updateForm > div >  input::placeholder{
    font-family: 'Be Vietnam Pro';
    font-size:1rem;
}
.updateForm > div > span{
    opacity: 40%;
}
.updateForm > button{
    width: 349px;
    height: 48px;
    border-radius: 62px;
    width: 100%;
    font-family: 'Be Vietnam Pro';
    font-weight: 500;
    font-size: 16px;
}

/* info */
.info{
    padding: 140px 0;
    margin: 0 6.25em;
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-bottom: 2px solid #0000001A;
}
#info_1{
    width: 248px;
}
#info_2,
#info_3{
    display: flex;
}
#info_1 > h3{
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    font-size: 2.5rem;
}
#info_1 > p{
    opacity:60%;
    font-family: 'Be Vietnam Pro';
    margin-top: 25px;
    margin-bottom:35px;
    font-size:1.313rem;
}
.socialMedia{
    display: flex;
    gap:12px;   
}
.twitter, .facebook, .instagram{
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.twitter{
    border:2px solid #00000033;   
}
.facebook{
    border:2px solid black;
    background-color: black;
}
.instagram{
    border:2px solid #00000033;   
}
.infoDescription > h4{
    font-family: 'Be Vietnam Pro';
    font-weight: 500;
    font-size:1.625rem;
    line-height:18px;
    letter-spacing: 3px;
    margin-top: 10px;
}
.infoDescription > ul{
    list-style: none;
    font-family: 'Be Vietnam Pro';
    font-weight: 400;
    font-size: 1.313rem;
    opacity:60%;
}
.infoDescription >ul > li{
    margin-top:26px;
}   

.pay_info{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 1.25em 6.25rem 5.123em 6.25rem;
}
.pay_info > p{
    color: #00000099;
    font-family: 'Be Vietnam Pro';
    font-weight: 400;
    font-size: 14px;
}
.pay_method{
    display: flex;
    gap: 12px;
}
.pay_method--items{
    width: 47px;
    height:30px;
    background-color:white;
    border-radius: 5.38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RESPONSIVE */
/* DESKTOP */
@media screen and (max-width: 1600px){
    .update{
        gap: 7rem;
    }
    .highlight_category > div > img{
        height: 300px;
    }
}
/* IPAD DEVICEs */ 
@media screen and (max-width: 1460px){
    html{
        font-size: 14px;
    }
    .herosection__leftStar{
        width: 50px;
        height: 50px;
    }
    .herosection__rightStar{
        width: 98px;
        height: 98px;
    }
    .updateForm > div > input{
        width: 299px;
    }
}
@media screen and (max-width: 1360px){
    html{
        font-size: 12px;
    }
    .herosection__leftStar{
        width: 44px;
        height: 44px;
    }
    .herosection__rightStar{
        width: 92px;
        height: 92px;
    }
    .newFashion__items{
        flex-direction: column;
    }
    .newFashion__items--upper,
    .newFashion__items--lower{
        justify-content: center;
    }
    .newFashion__items--element{
        flex-grow: 0;
    }
    .info{
        padding: 100px 0;
    }
    .highlight_category--upper,
    .highlight_category--lower{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 1240px){
    html{
        font-size: 10px;
    }
    .herosection__leftStar{
        width: 36px;
        height: 36px;
    }
    .herosection__rightStar{
        width: 75px;
        height: 75px;
    }
    .brand_upper > img:nth-child(1){
        width: 136px;
        height: 44px;
    }
    .brand_upper > img:nth-child(2){
        width: 84px;
        height: 47px;
    }
    .brand_upper > img:nth-child(3){
        width: 130px;
        height: 53px;
    }
    .brand_lower > img:nth-child(1){
        width: 147px;
        height: 41px;
    } 
    .brand_lower > img:nth-child(2){
        width: 155px;
        height: 42px;
    }
    .updateForm > div > input{
        width: 249px;
    }

}

/* Mành hình điện thoại */
@media screen and (max-width: 900px){
    html{
        font-size: 14px;
    }
    
    #topheader__close{
        display: none;
    }
    .header__list{
        display:none;
    }
    /* Search bar */
    .header>form{
        display: none;
    }

    .header_left{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .header{
        justify-content: space-between;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .header_right{
        gap:0.867rem;
    }
    #header__search{
        display: inline;
    }
    #header__menu{
        display: inline;
    }

    /* herosection */
    .herosection__leftStar,
    .herosection__rightStar{
        display: none;
    }
    .herosection{
        flex-direction: column;
        align-items: center;
        padding: 2.5rem 1.25rem 0 1.25rem;
    }
    .herosection__image{
        width: 100%;
    }
    .herosection__info{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .herosection__info>h1{
        width: 100%;
        text-align:left;
    }
    .herosection__info>p{
        width: 100%;
        text-align: left;
        font-size: 1.5rem;
    }
    .herosection__info>button{
        width: 100%;
        height: 52px;
    }
    .brand{
        flex-direction: column;
        align-items: center;
    }
    .highlight_category--upper,
    .highlight_category--lower{
        flex-direction: column;
        align-items: center; 
    }
    .highlight_category > div > img{
        width: 100%;
    }
    .highlight_category--upper > img,
    .highlight_category--lower> img{
            width: 310px;
            height: 190px;
    }   
    .client_feedback > h1{
        text-align: start;
    }
    .client_feedback--list{
        flex-direction: column;
        align-items: center;
    }
    .update{
        flex-direction: column;
        gap: 1.25rem;
    }
    .updateForm{
        width: 100%;
    }
    .info{
        padding: 15.625rem 0 8.75rem 0;
        flex-wrap: wrap;
    }
    #info_1{
        width: 100%;
    }
    .infoDescription{
        width: 50%;
        margin-top:2.5rem;
    }
    .pay_info{
        flex-direction: column;
        gap: 20px;
    }
}
@media screen and (max-width: 700px){
    html{
        font-size: 12px;
    }
    .newFashion__items--upper{
        flex-direction: column;
        align-items: center;
    }
    .newFashion__items--lower{
        flex-direction: column;
        align-items: center ;
    }
    .info{
        padding: 17.5rem 0 8.75rem 0;
    }
}
@media screen and (max-width: 580px){
    html{
        font-size: 10px;
    }
}
@media screen and (max-width: 500px){
    html{
        font-size: 8px;
    }
    .info{
        padding: 19.375rem 0 8.75rem 0;
    }
}